/*
    Industrious by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Ensure proper sizing*/

* {
    box-sizing: border-box;
}

html {
    font-size: 13pt;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -ms-overflow-style: scrollbar;
    -webkit-text-size-adjust: none;
    background: #ffffff;
    background-color: #ffffff;
    color: #444444;
    line-height: 1;
    font-family: 'OpenSans-Regular';
    font-size: 1rem;
    line-height: 1.65;
}

.banner-about {
    font-size: 1.25em;
    color: white;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#newfont {
    font-family: 'OpenSans-Regular';
}

a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #666ba0;
}

p {
    margin: 0 0 2rem 0;
}

header.special {
    text-align: center;
    margin-bottom: 4rem;
}

header.special p {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.5;
    text-transform: none;
    margin: 0 0 1.5rem 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
}

h2 {
    font-size: 2.25rem;
    line-height: 1.3;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.7rem;
}

hr {
    border: 0;
    border-bottom: solid 1px;
    margin: 1rem 0;
}

hr.major {
    margin: 4rem 0;
}

header a {
    color: white
}

a {
    color: #83480a;
}

strong, b {
    color: #555555;
}

h1, h2, h3, h4, h5, h6 {
    color: #555555;
}

hr {
    border-bottom-color: rgba(0, 0, 0, 0.25);
}

/* Inner */

.inner {
    margin: 0 auto;
    width: 75rem;
    max-width: calc(100% - 6rem);
}

/* Highlights */

.highlights {
    width: 100%;
    margin: 2.5rem 0;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
}

.highlights>* {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
}

.highlights>* {
    width: 33.3333333333%;
}

.highlights>* {
    padding: 1.5rem;
    width: calc(33.3333333333% + 1rem);
}

.highlights> :nth-child(-n+3) {
    padding-top: 0;
}

.highlights> :nth-last-child(-n+3) {
    padding-bottom: 0;
}

.highlights> :nth-child(3n+1) {
    padding-left: 0;
}

.highlights> :nth-child(3n) {
    padding-right: 0;
}

.highlights> :nth-child(3n+1), .highlights> :nth-child(3n) {
    width: calc(33.3333333333% + -0.5rem);
}

.highlights .content {
    border-radius: 4px;
    height: 100%;
    padding: 3rem;
    text-align: center;
}

.highlights .content .icon {
    font-size: 5rem;
}

.highlights>div> :last-child {
    margin-bottom: 0;
}

.highlights .content {
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
}

/* Wrapper */

.wrapper {
    padding: 8rem 0 6rem 0;
    position: relative;
    z-index: 1;
}

/* Banner */

#banner {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    background-color: #222222;
    color: rgba(255, 255, 255, 0.9);
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image: linear-gradient(purple, blue);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    border-top: 0;
    display: -ms-flexbox;
    height: 35rem !important;
    min-height: 35rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

#banner a {
    color: #6A6D95;
}

#banner strong, #banner b {
    color: #ffffff;
}

#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
    color: #ffffff;
}

#banner hr {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

/* CTA */

#cta {
    background-color: #f8d964;
    color: #000000;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    z-index: 1;
}

#cta a {
    color: #ffffff;
}

#cta a:hover {
    color: black;
}

#cta strong, #cta b {
    color: #ffffff;
}

#cta h1, #cta h2, #cta h3, #cta h4, #cta h5, #cta h6 {
    color: #ffffff;
}

#cta blockquote {
    border-left-color: rgba(255, 255, 255, 0.25);
}

#cta code {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25);
}

#cta hr {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

#cta label {
    color: #ffffff;
}

#cta select, #cta textarea {
    background-color: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25);
}

#cta select:focus, #cta textarea:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
}

#cta select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E");
}

#cta select option {
    color: rgba(255, 255, 255, 0.75);
    background-color: #6A6D95;
}

#cta .inner {
    position: relative;
    z-index: 3;
}

/* Footer */

#footer {
    background-color: #111111;
    color: white;
    padding: 8rem 0 6rem 0;
}

#footer a {
    color: #6A6D95;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #ffffff;
}

#footer hr {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

#footer select:focus, #footer textarea:focus {
    border-color: #6A6D95;
    box-shadow: 0 0 0 1px #6A6D95;
}

#footer select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E");
}

#footer select option {
    color: rgba(255, 255, 255, 0.5);
    background-color: #111111;
}

#footer ul.alt li {
    border-top-color: rgba(255, 255, 255, 0.25);
}

#footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#footer a:hover {
    color: #6A6D95;
}

#footer .content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

#footer .content section {
    width: 25%;
}

#footer .content section:first-child {
    width: 50%;
    padding-right: 4rem;
}

#footer .content section:last-child {
    padding-left: 4rem;
}

#footer .copyright {
    border-top: 1px solid;
    font-size: 0.8rem;
    padding: 2rem 0;
    color: white;
    text-align: center;
}

/* Header */

body {
    padding-top: 3.25rem;
}

body:before {
    content: ' ';
    background-image: url(../../images/cta01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.05;
}

#header {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background: #111111;
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
    height: 3.25rem;
    left: 0;
    line-height: 3.25rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header>.logo {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    height: inherit;
    line-height: inherit;
    padding: 0 1.25rem;
    text-decoration: none;
}

#heading:before {
    background: linear-gradient(135deg, #9ba3fa 0%, #111111 74%);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#heading h1 {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 11pt;
    }
    html, body {
        min-width: 320px;
    }
    #footer {
        padding: 2rem 0 0.1rem 0;
    }
    .wrapper {
        padding: 2rem 0 0.1rem 0;
    }
    .inner {
        max-width: calc(100% - 3rem);
    }
}

@media screen and (max-width: 980px) {
    html {
        font-size: 12pt;
    }
    #heading {
        padding: 2rem;
    }
    #cta {
        background-attachment: scroll;
    }
    .testimonials>* {
        width: 50%;
    }
    .testimonials>* {
        padding: 1rem;
        width: calc(33.3333333333% + 0.6666666667rem);
    }
    .testimonials> :nth-child(-n+3) {
        padding-top: 1rem;
    }
    .testimonials> :nth-last-child(-n+3) {
        padding-bottom: 1rem;
    }
    .testimonials> :nth-child(3n+1) {
        padding-left: 1rem;
    }
    .testimonials> :nth-child(3n) {
        padding-right: 1rem;
    }
    .testimonials> :nth-child(3n+1), .testimonials> :nth-child(3n) {
        padding: 1rem;
        width: calc(50% + 1rem);
    }
    .testimonials>* {
        padding: 1rem;
        width: calc(50% + 1rem);
    }
    .testimonials> :nth-child(-n+2) {
        padding-top: 0;
    }
    .testimonials> :nth-last-child(-n+2) {
        padding-bottom: 0;
    }
    .testimonials> :nth-child(2n+1) {
        padding-left: 0;
    }
    .testimonials> :nth-child(2n) {
        padding-right: 0;
    }
    .testimonials> :nth-child(2n+1), .testimonials> :nth-child(2n) {
        width: calc(50% + 0rem);
    }
    .testimonials .content {
        padding: 2rem;
    }
    .highlights>* {
        width: 50%;
    }
    .highlights>* {
        padding: 1rem;
        width: calc(33.3333333333% + 0.6666666667rem);
    }
    .highlights> :nth-child(-n+3) {
        padding-top: 1rem;
    }
    .highlights> :nth-last-child(-n+3) {
        padding-bottom: 1rem;
    }
    .highlights> :nth-child(3n+1) {
        padding-left: 1rem;
    }
    .highlights> :nth-child(3n) {
        padding-right: 1rem;
    }
    .highlights> :nth-child(3n+1), .highlights> :nth-child(3n) {
        padding: 1rem;
        width: calc(50% + 1rem);
    }
    .highlights>* {
        padding: 1rem;
        width: calc(50% + 1rem);
    }
    .highlights> :nth-child(-n+2) {
        padding-top: 0;
    }
    .highlights> :nth-last-child(-n+2) {
        padding-bottom: 0;
    }
    .highlights> :nth-child(2n+1) {
        padding-left: 0;
    }
    .highlights> :nth-child(2n) {
        padding-right: 0;
    }
    .highlights> :nth-child(2n+1), .highlights> :nth-child(2n) {
        width: calc(50% + 0rem);
    }
    .highlights .content {
        padding: 2rem;
    }
    /* Flushed */
    #footer .content {
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #footer .content section {
        width: 50%;
    }
    #footer .content section:first-child {
        width: 100%;
        padding-right: 0;
    }
}
