/* Ensure proper sizing */

* {
    box-sizing: border-box;
}

:root {
    /* You can declare custom expressions(variables) here */
    /* --text-color: black;
    --text-color-alt: white;
    --banner-color: violet;
    --cta-color: orange;
    --bg-color: white; */
}

/* Ensure images display correctly */

img {
    display: block;
}

/* Correctly define multiple headers */

:is(h1, h2, h3, h4, h5, h6) {
    font-weight: 300;
    line-height: 1.5;
    text-transform: none;
    margin: 0 0 1.5rem 0;
}

/* Put default values for the page here, override in respective calls */

body {
    background-color: rgb(245, 245, 245);
    color: black;
    margin: auto;
}

/* Container for the main flex row, this is "needed" to position and 
scale the site correctly in the current layout */

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Flex container for the actual content */

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 1600px;
}

/* Simple styling for the items */

header {
    width: 100%;
    padding: 5px;
    text-align: right;
    background-color: black;
    color: white;
}

/* link in header */

header a {
    color: cyan;
}

/* For img in header(in this case the favicon) */

header img {
    float: left;
}

/* The main banner under the header */

.banner {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(purple, blue);
    text-align: center;
    min-height: 35rem;
    padding: 8rem 8rem 6rem 8rem;
}

.banner a {
    color: white;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #666ba0;
}

/* About us section */

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8rem 0 6rem 0;
    width: 75rem;
    margin: 0 auto;
}

/* Container for the 3 boxes with links(flex) */

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.65;
    justify-content: space-between;
}

/* The actual boxes */

.links {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.356);
    height: 100%;
    text-align: center;
    padding: 3rem;
    width: 21rem;
}

.cta {
    background-color: #eeaa55;
    color: #000000;
    padding: 8rem 8rem 6rem 8rem;
    text-align: center;
}

.cta h2 {
    color: white;
}

footer {
    background-color: black;
    color: white;
}

footer .thanks {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding: 3rem 0 3rem 0;
}