/* Ensure proper sizing */

:root {
    --text-color: black;
    --text-color-alt: white;
    --banner-color: violet;
    --cta-color: orange;
    --bg-color: white;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-weight: 300;
    line-height: 1.5;
    text-transform: none;
    margin: 0 0 1.5rem 0;
}

body {
    background-color: rgb(245, 245, 245);
    color: var(--text-color);
    margin: auto;
}

/* Container for the main flex row */

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 1600px;
}

/* Simple styling for the items */

header {
    width: 100%;
    padding: 5px;
    text-align: right;
    background-color: black;
    color: var(--text-color-alt);
}

header a {
    color: cyan;
}

header img {
    float: left;
}

.banner {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: var(--text-color-alt);
    background-image: linear-gradient(purple, blue);
    text-align: center;
    min-height: 35rem;
    padding: 8rem 8rem 6rem 8rem;
}

.banner a {
    color: var(--text-color-alt);
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #666ba0;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8rem 0 6rem 0;
    width: 75rem;
    margin: 0 auto;
}

/* Container for the 3 portions with links(flex) */

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.65;
    justify-content: space-between;
}

.links {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.356);
    height: 100%;
    text-align: center;
    padding: 3rem;
    width: 21rem;
}

.cta {
    background-color: #eeaa55;
    color: #000000;
    padding: 8rem 8rem 6rem 8rem;
    text-align: center;
}

.cta h2 {
    color: white;
}

footer {
    background-color: black;
    color: white;
}

footer .thanks {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding: 3rem 0 3rem 0;
}